{{ partial "head.html" . }}

<script src="https://www.youtube.com/iframe_api"></script>

{{ $yt := resources.Get "js/responsive-youtube.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $yt.Permalink }}" integrity="{{ $yt.Data.Integrity }}"></script>

<article>
    <div class="md:hidden block">
        <div
            class="relative h-full w-full text-white pt-10 px-6 overflow-hidden"
        >
            <video
                class="absolute top-0 left-0 w-full h-full object-cover -z-10"
                autoplay
                loop
                muted
            >
                <source src="/lofimobile2.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div
                class="absolute inset-x-10 top-10 bottom-10 text-center pt-10 rounded-2xl max-w-sm mx-auto shadow-xl bg-gradient-to-b from-black via-transparent to-black"
            >
                <div class="mt-5">
                    <p class="text-xl font-Neucha font-semibold">天文学</p>
                    <p class="font-medium text-xs font-RockSalt">"Be Happy"</p>
                    <img
                        class="w-40 h-60 mt-10 ro unded-full mx-auto"
                        src="/lain2.gif"
                        alt="lain"
                    />
                    <div
                        class="flex justify-between w-10 h-6 mx-auto -mt-4 mb-10"
                    >
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                                animation-delay: 2.2s;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                                animation-delay: 3.7s;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                                animation-delay: 2.2s;
                            "
                        >
                        </span>
                    </div>
                    <p class="font-RockSalt font-extrabold text-lg">
                        Lofi Cafe
                    </p>
                    <p class="font-Neucha font-semibold mb-5">wired asf.</p>
                    <div
                        class="mb-10"
                        data-video="jfKfPfyJRdk"
                        data-autoplay="0"
                        data-loop="1"
                        id="youtube-audio1"
                    ></div>
                    <script src="https://www.youtube.com/iframe_api"></script>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden md:block relative text-center">
        <div
            class="h-full w-full bg-no-repeat bg-cover bg-center bg-fixed text-white bg-[url('/port.gif')] pt-10 px-6"
        >
            <div
                class="absolute inset-x-7 top-10 bottom-10 text-center p-10 rounded-2xl mx-auto shadow-xl bg-gradient-to-b from-black via-transparent to-black"
            >
                <div class="mt-10">
                    <p class="font-Neucha text-xl font-semibold">天文学</p>
                    <p class="font-medium text-xs font-RockSalt">"Be Happy"</p>
                    <img
                        class="w-40 h-60 mt-10 rounded-full mx-auto"
                        src="/lain2.gif"
                        alt="lain"
                    />
                    <div
                        class="flex justify-between w-10 h-6 mx-auto -mt-4 mb-10"
                    >
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                                animation-delay: 2.2s;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                                animation-delay: 3.7s;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                            "
                        >
                        </span>
                        <span
                            class="w-1 h-full bg-orange-700 rounded"
                            style="
                                animation: bounce 2.2s ease infinite alternate;
                                animation-delay: 2.2s;
                            "
                        >
                        </span>
                    </div>
                    <p class="font-RockSalt font-extrabold text-lg">
                        Lofi Cafe
                    </p>
                    <p
                        class="font-Neucha font-semibold mb-10 border-b-2 max-w-md pb-10 mx-auto"
                    >
                        wired asf.
                    </p>
                    <div
                        class="mb-10"
                        data-video="jfKfPfyJRdk"
                        data-autoplay="0"
                        data-loop="1"
                        id="youtube-audio2"
                    ></div>
                    <script src="https://www.youtube.com/iframe_api"></script>
                </div>
            </div>
        </div>
    </div>
</article>
