{{ define "main" }}
<article class="p-4 text-center text-gray-700" style="max-width: 50rem; padding: 1rem;">
    <img class="w-40 h-40 mb-20 rounded-full mx-auto border-4 border-amber-200" src="/pfp.jpg" alt="Allec Scott">
    <h1 class="font-FredokaOne mb-3 font-semibold text-4xl" style="--tw-text-opacity: 1; color: rgb(248 113 113 / var(--tw-text-opacity));">Hi, I am Allec...</h1>
    <p class="text-slate-700 text- font-Neucha mb-20 mt-2">-aka. Ankit Mukherjee</p>
    <p class="text-xl mb-10 font-Montserrat" style="margin-bottom: 2.5rem ;">
        I'm a wierd computer enthusiast who tinkers in all things computer...I'm also a rookie in web development and UI designing, server setting, cloud and system administration and would like to provide any possible help to fellow developers or entrepreneurs
      </p>
      <p class=" text-xl font-Montserrat" style="margin-bottom: 2.5rem ;">
        If you want to contact me....prolly the best way is through <a href="https://instagram.com/run.____.away" class="font-bold" style="--tw-text-opacity: 1; color: rgb(248 113 113 / var(--tw-text-opacity));" target="_blank">Instagram</a>. I do have a <a href="mailto:ankitmukherjee814@gmail.com" class="font-bold" style="--tw-text-opacity: 1; color: rgb(248 113 113 / var(--tw-text-opacity));" target="_blank">Email</a> too, but im bad at checking them out...or you can find me all over the web with the pen-name Allec Scott
    </p>
    <p class="text-xl font-Montserrat" style="margin-bottom: 2.5rem ;">I absolutely love coding and it is a inseperable part of my daily life now-a-days, like I can put on lofi music and code for the rest of the day (and that is what i am right now)....Now all I am utilising my free time (all of it, ig) taking this site onilne and nearly posting regularly and updating the site weekly....Oh...and I also have a Onion hidden service blog, <a href="https://silentlake.onrender.com/index.php" class="font-bold text-red-400">SilentLake</a>, check it out</p>
    <p class="text-xl font-Montserrat" style="margin-bottom: 2.5rem ;">I am hosting this site in cloudfare pages, for now, as I absolutely love their extremely fast conectivity, and will probably use a TLD sometime later, or never...who knows what happens next right?</p>
</div>
<a href="/posts/" class="mt-20 relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-red-500 rounded-xl group">
  <span class="absolute top-0 right-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-red-700 rounded group-hover:-mr-4 group-hover:-mt-4">
  <span class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-white"></span>
  </span>
  <span class="absolute bottom-0 left-0 w-full h-full transition-all duration-300 ease-in-out delay-200 -translate-x-full translate-y-full bg-red-600 rounded-2xl group-hover:mb-12 group-hover:translate-x-0"></span>
  <span class="font-BebasNeue text-base relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-white">Check Out My Blogs</span>
  </a>
<hr class="content-center mx-auto" style=" border-bottom-width: 8px; margin-top:60px; margin-bottom:60px; border-style: dotted; border-color: rgb(255, 189, 182); width: 2.5rem; border-top-width: 0px;">
<div class="mx-auto text-4xl text-semibold" style="margin-top: 10rem; margin-bottom: 5rem">
  <p class="ml-2 text-center"><a class="font-FredokaOne">“</a><a class="font-FredokaOne">Nothing </a><a class="font-Nunito">is </a><a class="font-RockSalt"> true, </a><a class="font-PermanentMarker">everything </a><a class="font-Neucha ">is </a><a class="font-FredokaOne "> permitted.”</a>
  </p>
</div>
</article>
{{ end }}