{{ define "main" }}
<div class="flex mx-auto items-center justify-center my-20 font-PermanentMarker">
    
    <h1 class="-mr-4 text-[10rem] md:text-[18rem]" style=" text-shadow: 0 0 10px #fff;">4</h1>
    <img src="../../pixel-cat.gif" class="md:block hidden" alt="Cat." width="220" height="220">
    <img src="../../pixel-cat.gif" class="md:hidden block" alt="Cat." width="120" height="120">
    <h1 class="text-[10rem] md:text-[18rem]" style="text-shadow: 0 0 10px #fff;">4</h1>

  </div>
<div class="max-w-3xl mx-auto p-2">
<p class="mb-2 text-center font-VT323 text-4xl"> <?L0ST> </p>
  <div class="mb-20 text-center mx-auto font-Fira text-sm text-amber-500 hover:bg-amber-500 w-fit h-fit hover:text-white"><a href="{{ site.Home.Permalink }}" > [return home] </a></div>


 
    <p class="mb-10 text-center font-VT323 md:text-xl ">Then this ebony bird beguiling my sad fancy into smiling,
By the grave and stern decorum of the countenance it wore,
“Though thy crest be shorn and shaven, thou,” I said, “art sure no craven,
Ghastly grim and ancient Raven wandering from the Nightly shore—
Tell me what thy lordly name is on the Night’s Plutonian shore!”
    Quoth the Raven <span class="bg-slate-900 p-1"> “Nevermore.”</span></p>
</div>
{{ end }}
