{{ define "main" }}
  
<article class="font-UbuntuMono">
  <div class="px-1 py-5">
    
  <!-- TERMINAL SIDE -->
<div class="flex justify-between w-full max-w-screen px-4 md:my-10 ">
  <!-- Left card -->
  <div class="max-w-lg w-full md:block hidden">
    <div class="bg-slate-900 rounded-t-lg text-center">[~]</div>
    <div class="h-fit bg-slate-700 bg-opacity-80 p-3 rounded-b-lg w-full">
      <h1 class="text-4xl font-extrabold font-VT323" style="text-shadow: 0 0 10px #fff;">@M3rcuryLake</h1>
      <h1 class="text-5xl font-extrabold mt-2">Wired ASF</h1>
      <p class="font-BebasNeue text-xl mt-2">lofi, linux and life</p>
      <a class="text-yellow-400" href="https://github.com/m3rcurylake/">/My Git page/</a>
    </div>
  </div>

  <!-- Right card -->
  <div class="max-w-lg w-full md:p-4 p-2 rounded-lg md:text-lg text-sm ">
  <div class="grid md:grid-cols-1 grid-cols-2 gap-1">
  <div class="font-VT323 "> <a style="color:lime; text-shadow: 0 0 3px #fff;"> [OK] </a> <a href="http://mercurybq3vwbf426l7o7t77od3unpyiy3he7b5jcywdh56kwis4maqd.onion/" class="text-yellow-400 hover:underline"> ● tor.service </a> </div>
  <div class="font-VT323 "> <a style="color:lime; text-shadow: 0 0 3px #fff;"> [OK] </a> <a href="https://mercurylake.neocities.org/" class="text-yellow-400 hover:underline"> ● .neocities </a> </div>
  <div class="font-VT323 "> <a style="color:lime; text-shadow: 0 0 3px #fff;"> [OK] </a> <a href="https://m3rcurylake.pages.dev/" class="text-yellow-400 hover:underline"> ● .pages.dev </a> </div>
  <div class="font-VT323 "> <a style="color:lime; text-shadow: 0 0 3px #fff;"> [OK] </a> <a href="https://m3rcurylake.github.io/" class="text-yellow-400 hover:underline"> ● .github.io </a> </div>
  </div>      
        <div class="md:block hidden bg-slate-900 w-fit p-2 mt-10 border-white border-5 border-dotted" style="border-style: dashed; border-color: white; border-width: 2px;">
          <a href="/writeups/" class="font-VT323 font-bold text-2xl hover:text-yellow-400 transition-all duration-150" style="text-shadow: 0 0 4px #fff"> Reverse Engineering Writeups </a>
          <p class="text-amber-500 text-xs animate-pulse"><i>(take a look!)</i></p>
        </div>

  </div>
  </div>
</div>
  <!-- TERMINAL MAIN -->
  <div class="p-2 md:p-0 max-w-3xl mx-auto rounded-xl">
    <div class="mx-auto max-w-3xl bg-slate-900 rounded-t-lg text-center">[wired]</div>
      <div class="mx-auto max-w-3xl bg-slate-700 bg-opacity-80 rounded-b-lg p-3">
          <p class="flex"><a class="text-fuchsia-400">[user@sys]#&nbsp;</a><a class="md:block hidden">cat m3rcurylake.r3m</a><a class="md:hidden block">cat m3rc.rem</a><a class="text-sm animate-ping" >_ </a></p>
            <div class="md:hidden block my-5">
            <h1 class="text-4xl font-extrabold font-VT323" style="text-shadow: 0 0 10px #fff;">@M3rcuryLake</h1>
            <h1 class="text-5xl font-extrabold mt-2">Wired ASF</h1>
            <p class="font-BebasNeue text-xl mt-2">lofi, linux and life</p>
            <a class="text-yellow-400" href="https://github.com/m3rcurylake/">/My Git page/</a>
          </div>
          <p class="">
            I am an electronics degenerate who was given unrestricted access to computers at a very young age. In the age of social networks where all the customistation you can do to your profile is add a picture and a bio of five lines, I decided why not, have a spot of your own?
          </p>
            <!-- BUTTONS MOBILE-->
  <div class="text-lg md:hidden mx-auto flex p-2 mt-10 mb-5 md:mx-10 font-VT323">
    <div><a href="/posts/" class="relative py-2 px-3 font-bold text-black group mx-auto">
      <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-blue-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
      <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
      <span class="relative ">./Bl0gs</span>
      </a></div>
    <div class="ml-5"> <a href="/lofi-cafe/" class="relative px-4 py-2 font-bold text-black group mx-auto">
      <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-blue-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
      <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
      <span class="relative ">./Lofi_Cafe</span>
      </a></div>
  </div>
    <div class="ml-2 text-lg font-VT323 md:hidden"><a href="/writeups/" class="relative py-2 px-3 font-bold text-black group mx-auto">
      <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-blue-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
      <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
      <span class="relative ">./RevEng_Writeups</span>
      </a></div>

    <div class="p-3 mx-auto flex md:hidden justify-between mt-20">
      <div class="text-left mr-3" >
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _.-;;-._</p>
        <p>  '-..-'|&nbsp;&nbsp; ||&nbsp;&nbsp; |</p>
        <p>  '-..-'|_.-;;-._|</p>
        <p>  '-..-'|&nbsp;&nbsp; || &nbsp;&nbsp;|</p>
        <p>  '-..-'|_.-''-._|</p>
        <p class="mt-1">&nbsp;&nbsp;</p>

      </div>
      <div class=" text-right">
        <div><a href="mailto:neptunymves@protonmail.com" class="text-red-500 hover:text-amber-500">@Mail</a></div>
        <div><a href="https://www.instagram.com/__rn._______?igsh=cWk2ZWhkajRhbDRk" class="text-red-500 hover:text-amber-500">@Instagram</a></div>
        <div><a href="https://discord.gg/GTGjp3sh" class="text-red-500 hover:text-amber-500">@Discord</a></div>
        <div><a href="https://www.linkedin.com/in/ankit-mukherjee-0844a3325/" class="text-red-500 hover:text-amber-500">@LinkedIn</a></div>
        <div><a href="https://reddit.com/u/neptunym" class="text-red-500 hover:text-amber-500">@Reddit</a></div>
      </div>
    </div>
      </div>
    </div>
  <div class="flex justify-between">
  <!-- BUTTONS -->
    <div class=" p-2 mt-10 mx-10 md:block hidden">
      <div>
        <a href="/posts/" class="relative px-6 py-3 font-bold text-black group">
          <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-blue-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
          <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
          <span class="relative">./Bl0gs</span>
        </a>
      </div>
      <div class="mt-10">
        <a href="/lofi-cafe/" class="relative px-6 py-3 font-bold text-black group">
          <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-blue-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
          <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
          <span class="relative">./Lofi_Cafe</span>
        </a>
      </div>
    </div>
  <!-- TERMINAL EMACS -->
  <div class="p-2 mx-10 md:block hidden">
    <div class="max-w-md bg-slate-900 rounded-t-lg text-center">[EMACS]</div>
    <div class="h-fit max-w-md bg-slate-700 bg-opacity-80 p-3 rounded-b-lg flex">
      <div class="text-left mr-10">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _.-;;-._</p>
        <p>  '-..-'|&nbsp;&nbsp; ||&nbsp;&nbsp; |</p>
        <p>  '-..-'|_.-;;-._|</p>
        <p>  '-..-'|&nbsp;&nbsp; || &nbsp;&nbsp;|</p>
        <p>  '-..-'|_.-''-._|</p>
        <p class="mt-1">&nbsp;&nbsp;</p>
      </div>
      <div class="text-right mr-10">
          <div><a href="mailto:neptunymves@protonmail.com" class="text-red-500 hover:text-amber-500">@Mail</a></div>
          <div><a href="https://www.instagram.com/__rn._______?igsh=cWk2ZWhkajRhbDRk" class="text-red-500 hover:text-amber-500">@Instagram</a></div>
          <div><a href="https://discord.gg/GTGjp3sh" class="text-red-500 hover:text-amber-500">@Discord</a></div>
          <div><a href="https://www.linkedin.com/in/ankit-mukherjee-0844a3325/" class="text-red-500 hover:text-amber-500">@LinkedIn</a></div>
          <div><a href="https://reddit.com/u/neptunym" class="text-red-500 hover:text-amber-500">@Reddit</a></div>

      </div>
    </div>
    </div>

  </div>

  
</article>
{{ end }}
