{{ define "main" }}
<article class="text-center md:text-start max-w-xl mb-10 md:p-3 p-5">
  <h1 class="p-3 font-FredokaOne  text-xl bold italic">Well...A way to eternity.</h1>
    <img class="w-full h-full my-10 mx-auto md:hidden block" src="/LainDressSlow.gif" style="width: 252px; height:401;" alt="">
    <div class="hidden md:block mt-10 relative overflow-hidden rounded-2xl shadow-lg mb-10 ">
        <img class="object-cover w-full h-full " src="/alone-sad.gif" alt="Flower and sky"/>
    
        <div class="absolute top-0 left-0 px-6 py-4">
          <h4 class="md:mt-44 mt-32 font-semibold tracking-tight text-white bold font-mono text-3xl mb-4 hidden md:block ">Be Happy.</h4>
        </div>
      </div>
    <div class="flex justify-center max-w-fit mx-auto py-2 px-2 mb-20">
        <a class="text-xl font-PatrickHand  mr-3 font-bold bg-gradient-to-r from-red-600 via-amber-600 to-yellow-500 bg-clip-text text-transparent"><i>Listen to Lofi Radio ʕ•́ᴥ•̀ʔっ </i></a><div class="" data-video="jfKfPfyJRdk" data-autoplay="0" data-loop="1" id="youtube-audio"></div>
        <script src="https://www.youtube.com/iframe_api"></script>
       </div>
    <p class="font-PatrickHand text-center">I made this place just so that I can listen to lofi (which i do all the time) without using the bulky, crappy, irresponsive and trash interface of youtube and seek peace while im working...If u want to hangout, u r welcome.</p>
    <p class="font-PatrickHand text-center mt-10">All props to lofi-girl for making these masterpieces.</p>
</article>
<script>
    function onYouTubeIframeAPIReady(){var e=document.getElementById("youtube-audio"),t=document.createElement("img");t.setAttribute("id","youtube-icon"),t.style.cssText="cursor:pointer;cursor:hand",e.appendChild(t);var a=document.createElement("div");a.setAttribute("id","youtube-player"),e.appendChild(a);var o=function(e){var a=e?"pause.png":"play-button.png";t.setAttribute("src","/"+a)};e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo(),o(!1)):(r.playVideo(),o(!0))};var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop},events:{onReady:function(e){r.setPlaybackQuality("small"),o(r.getPlayerState()!==YT.PlayerState.CUED)},onStateChange:function(e){e.data===YT.PlayerState.ENDED&&o(!1)}}})}
</script>  
{{end}}